<div class="page-header">
  <header>
    <img src="assets/img/eu.png" alt="Foto de Perfil" loading="eager" />
    <h1>Aurora Silva</h1>
  </header>
  <div class="knowledge">
    <ul>
      @for(item of arrayKnowledge(); track item){
      <li>
        <img
          [src]="item.src"
          [alt]="item.alt"
          loading="lazy"
          width="25px"
          height="25px"
        />
      </li>
      }
    </ul>
  </div>
  <aside>
    <div class="container">
      <p>
        Desenvolvedora Full Stack apaixonada por transformar ideias em realidade
        digital. Com formação sólida em ciência da computação e design de
        interface, trago uma abordagem criativa e técnica para cada projeto. Da
        arquitetura de back-end à experiência do usuário, meu objetivo é criar
        soluções robustas e intuitivas que cativem e inspirem.
      </p>
      <nav>
        <ul>
          <li>
            <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"
              >Download CV</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/"
              target="_blank"
              class="btn btn-secondary"
              >LinkedIn</a
            >
          </li>
        </ul>
      </nav>
      <section>
        <a
          href="https://wa.me//554799999999?text=Vi%20seu%20portifólio%20e%20gostaria%20de%20conversar%20com%20você."
          target="_blank"
        >
          <figure>
            <img
              src="assets/icons/whatsapp.svg"
              alt="Ícone para contato do WhatsApp"
              width="50px"
              height="50px"
            />
            <a>
              <p>(47) 9 9999-9999</p>
            </a>
          </figure>
        </a>
        <a href="mailto:aurora.silva@email.com" target="_blank">
          <figure>
            <img
              src="assets/icons/mail.svg"
              alt="Ícone para contato do e-mail"
              width="50px"
              height="50px"
            />
            <a>
              <p>aurora.silva&#64;email.com</p>
            </a>
          </figure>
        </a>
      </section>
    </div>
  </aside>
</div>
